* {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1;
}
nav{
  box-shadow: 0 -6px 7px -7px grey inset;
}
.bgt-c {
    height: 100vh;
  }
  .bgt-c row{
    align-items: center;
  }
  .form{
    
    padding: 3rem;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.181);
  }