* {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1;
}
.bgt-c {
    height: 100vh;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(221, 105, 47, 0.9780287114845938) 0%, rgba(121, 9, 83, 0.9500175070028011) 55%);

  }
  .bgt-c row{
    align-items: center;
  }
  .form{
    
    padding: 3rem;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.481);
  }