@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

html {
    scroll-behavior: smooth;
}

.logo img {
    width: 60px;
    height: 50px;
}

.load-wrapper {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.load-wrapper #loading {
    color: white;
    font-size: xx-large;
}

/* header icon  */


/* display flex on small devices */
.first-nav .navbar-nav {
    display: flex !important;
}




/* chnage the color on hover of the content navbar */


/* animation on hover  */
.x-hover::after {
    content: "";
    display: block;
    height: 5px;
    width: 0;
    background-color: rgb(77, 76, 76);
    transition: all 1s;
}

/* hover-after */
.x-hover:hover::after {
    width: 100%;
    background: white;
}

#navbar-drop-down {
    font-family: 'Fjalla One', sans-serif;

}
nav{
    box-shadow: 0 -6px 7px -7px grey inset;
  }
.container .row {
    justify-content: center;
    align-items: center;
    height: 100%;
}

form .form-control {
    outline: none;
    border: 1px sloid white;
    color: white;
    border-radius: 30px;
    box-shadow: 0px 0px 10px black;
}

form .btn-bg {
    border-radius: 20px;
}

.vedio4 {
    background: white;

}

.container p {
    color: white;
}
.two-anim {
    position: relative;
    color: transparent;
    -webkit-text-stroke: 1px white;
    text-transform: capitalize;
    font-size: 60px;
    animation-name: two-anim;
    animation-duration: 3s;
    animation-delay: 0s;
}

.two-anim::before {
    content: attr(data-fill-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100;
    color: white;
    white-space: nowrap;
    transition: 3s;
    overflow: hidden;
}

.two-anim:hover::before {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .d-cu-none{
        display: none;
    }
}
.ct ul li a{
    color:white;
}